[user]
	name = Josh Crowther
	email = jshcrowthe@gmail.com
[alias]
	ci = ci-status
	cm = commit -m
	co = checkout
	dt = difftool
	mt = mergetool
	pr = pull-request
	undo = reset HEAD~1
	log = log --pretty=format:'%Cred%h %Cgreen(%cr)%Creset -%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset'
[push]
	default = simple
[pull]
	rebase = true
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[url "git@github.com:"]
	insteadOf = https://github.com/
