[user]
	name = Josh Crowther
	email = jshcrowthe@gmail.com
[alias]
	ci = ci-status
	cm = commit -m
	co = checkout
	dt = difftool
	mt = mergetool
	pr = pull-request
	undo = reset HEAD~1
	log = log --pretty=format:'%Cred%h %Cgreen(%cr)%Creset -%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset'
[credential]
	helper = osxkeychain
[push]
	default = simple
[url "https://"]
	insteadOf = git://
[pull]
	rebase = true
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[merge]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool]
	prompt = false
[diff]
	tool = Kaleidoscope
[hub]
	protocol = https
[difftool]
	prompt = false
