[user]
	name = Josh Crowther
	email = jshcrowthe@gmail.com
[alias]
	ci = ci-status
	cm = commit -m
	co = checkout
	dt = difftool
	mt = mergetool
	pr = pull-request
	undo = reset HEAD~1
	log = log --pretty=format:'%Cred%h %Cgreen(%cr)%Creset -%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset'
[credential]
	helper = osxkeychain
[push]
	default = simple
[url "https://"]
	insteadOf = git://
[pull]
	rebase = true
[diff]
	tool = Kaleidoscope
[hub]
	protocol = https
[difftool]
	prompt = false
[code]
    editor = code --wait
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE